@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(font.woff2) format('woff2');
}
.syms {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
body {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select:none;
	-webkit-app-region: no-drag;
	-webkit-touch-callout:none !important;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	min-width:390px;        /* Suppose you want minimum width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:390px;            /* As IE6 ignores !important it will set width as 1000px; */
}

html, body { -webkit-user-drag: none; overflow-x: hidden; }
.tg  {border-collapse:collapse;border-color:black;border-spacing:0;border-style:solid;border-width:1px; margin-top: 38px;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
				padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
				overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-center{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-left{border-color:inherit;text-align:left;vertical-align:top}
.nam0_css { width: 50px; }
.pos0_css { width: 100px; }
.dur0_css { width: 50px; }
.eas0_css { width: 80px; }
.min0_css { width: 50px; }
.max0_css { width: 50px; }
.err0_css { width: 50px; }
.seqnam0_css { width: 270px; }
.seqdur0_css { width: 80px; }
.setnam0_css { width: 70px; }
.serial0_css { width: 90px; }
.navbar {
	position: fixed;
	top: 0;
	background-color: #1b1a65;
}

#script_editor {
	position: absolute;
	margin-top: 50px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	isolation: isolate;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
}

#box {
	position: absolute;
	width: 50px;
	height: 50px;
	background: red;
}

.navbar-right {
	float: right;
}

.navbar #navbarinfo {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 10px 14px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropbtn span {
	pointer-events: none;
}

@media(hover: hover) and (pointer: fine) {
	.navbar a:hover, .dropdown:hover, .dropbtn {
		background-color: red;
	}
}

.navbar a:active {
	background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

.show {display: block; }
/* Show the dropdown menu on hover */
/*			.dropdown:hover .dropdown-content {
	display: block;
}
*/
.multiselect-wrapper {
	width: 180px;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.multiselect-wrapper .multiselect-input {
	width: 100%;
	padding-right: 50px;
}

.multiselect-wrapper label {
	display: block;
	font-size: 12px;
	font-weight : 600;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
	position: absolute;
	display: none;
	background-color: white;
	border: 1px solid grey;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: -2px;
}

.multiselect-wrapper .multiselect-list.active {
	display: block;
}

.multiselect-wrapper .multiselect-list > span {
	font-weight: bold;
}

.multiselect-wrapper .multiselect-list .multiselect-checkbox {
	margin-right: 2px;
}

.multiselect-wrapper .multiselect-list > span,
.multiselect-wrapper .multiselect-list li {
	cursor: default;
}

.multiselect-wrapper .multiselect-list {
	padding: 5px;
	min-width: 200px;
}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.multiselect-wrapper ul li {
	padding-right: 20px;
	display: block;
}

.multiselect-wrapper ul li.active {
	background-color: rgb(0, 102, 255);
	color: white;
}

.multiselect-wrapper ul li:hover {
	background-color: rgb(0, 102, 255);
	color: white;
}

.multiselect-input-div {
	height: 34px;
}

.multiselect-input-div input{
	border: 1px solid #ababab;
	background : #fff;
	margin: 5px 0 6px 0;
	padding: 5px;
	vertical-align:middle;
}

.multiselect-count {
	position: relative;
	text-align: center;
	border-radius: 2px;
	background-color: lightblue;
	display: inline-block !important;
	padding: 2px 7px;
	left: -45px;
}

.multiselect-wrapper.disabled .multiselect-dropdown-arrow {
	border-top: 5px solid lightgray;
}

.multiselect-wrapper.disabled .multiselect-count {
	background-color: lightgray;
}

.multiselect-dropdown-arrow {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: absolute;
	line-height: 20px;
	text-align: center;
	display: inline-block !important;
	margin-top: 17px;
	margin-left: -42px;
}